Source: monotone
Section: devel
Priority: optional
Maintainer: Tomas Fasth <tomfa@debian.org>
Build-Depends: cdbs (>= 0.4.28), debhelper (>= 4.0.0), autotools-dev,
 libboost-date-time-dev, libboost-filesystem-dev, libboost-regex-dev,
 libboost-test-dev, libboost-program-options-dev, libboost-dev,
 texinfo, libz-dev,
 g++ [!arm !hppa !m68k], g++-3.4 [arm hppa m68k]
Standards-Version: 3.6.2

Package: monotone
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A distributed version (revision) control system
 Monotone is a free, distributed version control system. It provides
 fully disconnected operation, manages complete tree versions, keeps
 its state in a local transactional database, supports overlapping
 branches and extensible metadata, uses an efficient peer-to-peer
 network protocol, performs history-sensitive merging, and delegates
 trust functions to client-side RSA certificates.
