Source: monotone
Section: devel
Priority: optional
Maintainer: Debian Maintainers for Monotone <monotone-debian@nongnu.org>
Uploaders: Richard Levitte <richard@levitte.org>, Zack Weinberg <zackw@panix.com>, Ludovic Brenta <lbrenta@debian.org>
Homepage: http://monotone.ca/
Vcs-Browser: http://viewmtn.angrygoats.net/branch/changes/net.venge.monotone
Build-Depends: debhelper (>= 4.2.0), autotools-dev, libz-dev, po-debconf,
 libboost-dev (>= 1.34.1-2), libpcre3-dev (>= 7.6), libpcre3-dev (<< 7.7),
 patch
Build-Depends-Indep: ps2eps, texlive-base, texlive-generic-recommended,
 texlive-latex-base, texinfo, xpdf-utils
Standards-Version: 3.7.3

Package: monotone
Architecture: any
Depends: ${shlibs:Depends}
Description: A distributed version (revision) control system
 Monotone is a free, distributed version control system. It provides
 fully disconnected operation, manages complete tree versions, keeps
 its state in a local transactional database, supports overlapping
 branches and extensible metadata, uses an efficient peer-to-peer
 network protocol, performs history-sensitive merging, and delegates
 trust functions to client-side RSA certificates.

Package: monotone-server
Architecture: all
Depends: monotone (>= ${source:Version}), adduser, ucf (>= 0.28), 
 lsb-base (>= 3.0-6), ${misc:Depends}
Description: A distributed version (revision) control system - server scripts
 Monotone is a free, distributed version control system. It provides
 fully disconnected operation, manages complete tree versions, keeps
 its state in a local transactional database, supports overlapping
 branches and extensible metadata, uses an efficient peer-to-peer
 network protocol, performs history-sensitive merging, and delegates
 trust functions to client-side RSA certificates.
 .
 This package contains scripts to facilitate running a monotone server.

Package: monotone-doc
Section: doc
Architecture: all
Description: A distributed version (revision) control system - documentation
 This package contains the documentation for monotone in Info, HTML, and PDF
 formats. See the description of the package monotone for more details.
